extends layout

block content
  nav
    a(href="/")
      h5.mainTitle JAMES WOODFILL - ARCHIVE
    div.links
      a(href='woodfill.us' class="home")
        h5 HOME
  main
    h1.ChannelTitle
      = title

    .Grid
      each block in contents
        if block.image
          a.GridBlock(
            href='/blocks/' + block.id
          )
            img(src=block.image.square.url)
